<h4>Search Vehicle</h4>
<!--form to search a vehicle's availability-->
<form #form1="ngForm" autocomplete="off">
  <div>
    <!--    plate number input field -->
    <div class="form-group">
      <input #plateNo="ngModel" [(ngModel)]="service.formData.plateNo" class="form-control" name="plateNo"
             placeholder="Plate Number" required="required">
    </div>
    <div *ngIf="plateNo.touched && plateNo.invalid" class="alert alert-danger">
      required
    </div>
    <!--    date input fields-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <input #sDate="ngModel" [(ngModel)]="service.formData.pickUpDate" class="form-control" name="sDate"
               onfocus="(this.type='date')"
               placeholder="Pick-up Date" required="required" type="text">
      </div>
      <div *ngIf="sDate.touched && sDate.invalid" class="alert alert-danger">
        required
      </div>
      <div class="form-group col-md-6">
        <input #eDate="ngModel" [(ngModel)]="service.formData.dropOffDate" class="form-control" name="eDate"
               onfocus="(this.type='date')"
               placeholder="Drop-off Date" required="required" type="text">
      </div>
      <div *ngIf="eDate.touched && eDate.invalid" class="alert alert-danger">
        required
      </div>
    </div>
    <!--    check availability button-->
    <div class="form-group">
      <button (click)="checkAvailability()" [disabled]="form1.invalid" class="btn btn-info btn-block" type="submit">
        Check Availability
      </button>
    </div>
    <!--    display summary of the selected vehicle-->
    <table class="table borderless">
      <tbody>
      <tr>
        <td>{{vehicleType}}</td>
      </tr>
      <tr>
        <td>{{make}}</td>
      </tr>
      <tr>
        <td>{{model}}</td>
      </tr>
      <tr>
        <td>{{odo}}</td>
      </tr>
      <!--      toggle switch-->
      <tr>
        <div class="custom-control custom-switch">
          <input class="custom-control-input" id="customSwitches" type="checkbox">
          <label class="custom-control-label" for="customSwitches">Toggle this switch if you need the helmet</label>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
</form>
<!--form to enter customer details-->
<form #form2="ngForm" autocomplete="off">
  <div class="form-group">
    <!--    enter customer name field-->
    <input #customerName="ngModel" [(ngModel)]="service.formData.customerName" class="form-control" name="customerName"
           placeholder="Your Name" required="required">
  </div>
  <div *ngIf="customerName.touched && customerName.invalid" class="alert alert-danger">
    name is required
  </div>
  <!--  enter customer contact number field-->
  <div class="form-group">
    <input #contactNo="ngModel" [(ngModel)]="service.formData.contactNo" class="form-control" maxlength="10"
           name="contactNo" placeholder="Contact Number" required="required">
  </div>
  <div *ngIf="contactNo.touched && customerName.invalid" class="alert alert-danger">
    required and should be valid
  </div>
  <!--  confirm booking button-->
  <button (click)="confirmBooking()" [disabled]="form1.invalid || form2.invalid" class="btn btn-info btn-block"
          type="submit">Confirm Booking
  </button>
</form>
